* {
	margin: 0;
	padding: 0;
}


.kite {
	height: 100vh;
	display: flex;
	justify-content: start;
	align-items: center;
	position: absolute;
	width: 100%;
}
.kite img {
	width: 10%;
	position: absolute;
	offset-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
	animation: move 6s infinite alternate ease-in-out;
}


@keyframes move {
	0%{
			offset-distance: 0%;
	}
	5% {

	}
	45% {
			transform:rotateY(180deg);
	}
	50% {
			offset-distance: 100%;
			transform:rotateY(90deg);
	}
	95% {
			transform:rotateY(0);
	}
	100% {
			offset-distance: 0%;
			transform:rotateY(90deg);
	}
}

* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
}

svg {
	width: 100%;
	height: 100%;
}

.vogels > section > div,
.vogels > div > div {
	width: 3rem;
	height: 3rem;
	position: absolute;
}

.vogels > section > div > div,
.vogels > div > div > div
 {
	width: 50%;
	position:absolute;
	left: 25%;
	top: 25%;
	padding-bottom: 50%;
	border-radius: 50%;
	background: url("images/vogel.svg") no-repeat center center /contain ;
}

.vogels {
	position: relative;
	height: 100vh;
	margin: 0;
	z-index: 3;
}

.vogels > section > div:nth-of-type(1) {
	top: 3rem;
}

.vogels > section > div:nth-of-type(2) {
	top: 6rem;
}

.vogels > section > div:nth-of-type(3) {
	top: 9rem;
}

.vogels > section > div:nth-of-type(4) {
	top: 12rem;
}

.vogels > section > div:nth-of-type(5) {
	top: 15rem;
}

.vogels > div > div:nth-of-type(1) {
	animation: slideNegative 3s ease-in-out infinite;
}
.vogels > div > div:nth-of-type(2) {
	animation: slideNegative 3s -0.25s ease-in-out infinite;
}
.vogels > div > div:nth-of-type(3) {
	animation: slideNegative 3s -0.5s ease-in-out infinite;
}
.vogels > div > div:nth-of-type(4) {
	animation: slideNegative 3s -0.75s ease-in-out infinite;
}
.vogels > div > div:nth-of-type(5) {
	animation: slideNegative 3s -1s ease-in-out infinite;
}

.vogels > div > div:nth-of-type(1) > div{
	animation: grow 3s ease-in-out infinite;
}
.vogels > div > div:nth-of-type(2) > div {
	animation: grow 3s -0.25s ease-in-out infinite;
}
.vogels > div > div:nth-of-type(3) > div {
	animation: grow 3s -0.5s ease-in-out infinite;
}
.vogels > div > div:nth-of-type(4) > div {
	animation: grow 3s -0.75s ease-in-out infinite;
}
.vogels > div > div:nth-of-type(5) > div {
	animation: grow 3s -1s ease-in-out infinite;
}

.vogels > section > div:nth-of-type(1) > div {
	animation: grow 3s ease-in-out infinite;
}

.vogels > section > div:nth-of-type(2) > div {
	animation: grow 3s 0.25s ease-in-out infinite;
}

.vogels > section > div:nth-of-type(3) > div {
	animation: grow 3s 0.5s ease-in-out infinite;
}

.vogels > section > div:nth-of-type(4) > div {
	animation: grow 3s 0.75s ease-in-out infinite;
}

.vogels > section > div:nth-of-type(5) > div {
	animation: grow 3s 1s ease-in-out infinite;
}

.vogels > section > div:nth-of-type(1) {
	animation: slidePositive 3s ease-in-out infinite;
}

.vogels > section > div:nth-of-type(2) {
	animation: slidePositive 3s 0.25s ease-in-out infinite;
}

.vogels > section > div:nth-of-type(3) {
	animation: slidePositive 3s 0.5s ease-in-out infinite;
}

.vogels > section > div:nth-of-type(4) {
	animation: slidePositive 3s 0.75s ease-in-out infinite;
}

.vogels > section > div:nth-of-type(5) {
	animation: slidePositive 3s 1s ease-in-out infinite;
}


.vogels > div > div:nth-of-type(1) {
	top: 3rem;
}

.vogels > div > div:nth-of-type(2) {
	top: 6rem;
}

.vogels > div > div:nth-of-type(3) {
	top: 9rem;
}

.vogels > div > div:nth-of-type(4) {
	top: 12rem;
}

.vogels > div > div:nth-of-type(5) {
	top: 15rem;
}

@keyframes slidePositive {
	0% { left:0; transform-origin: right; transform: rotateY(180deg); animation-fill-mode: forwards; }
	50% { left:75%; transform-origin:bottom; transform:translateX(200px) rotateX(180deg); }
	100% { left:0; transform-origin: right; transform: rotateY(180deg); animation-fill-mode: forwards; }
}

@keyframes slideNegative {
	0% { left:0; transform-origin: right; transform: rotateY(180deg); animation-fill-mode: forwards; }
	50% { left:75%; transform-origin:bottom; transform:translateX(200px) rotateX(180deg); }
	100% { left:0; transform-origin: right; transform: rotateY(180deg); animation-fill-mode: forwards; }
}

@keyframes grow {
	0% { margin-top: 0; height: 0; }
	25% {  margin-top: -12.5%; height: 12.5%; }
	50% { margin-top: 0; height: 0; }
	75% {  margin-top: 12.5%; height: -12.5%;  }
	100% { margin-top: 0; height: 0; }
}

.container {
  width: 100px;
  height: 100px;
  margin: 24px;
  border: none;
	position: absolute;
	top: 60%;
	left: 30%;
	z-index: 5;
}

.cube {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  perspective: 300px;
  transform-style: preserve-3d;
  transform: rotate3d(0, 0, 0, 0deg);
  transition-duration: 1000ms;
  /* animation-name: spinner;  */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 4s;

}

.cube:hover {
  perspective-origin: 220% 220%;

  }

.face {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border: none;
  line-height: 100px;
  font-family: sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
  background-size: cover;
}

/* Define each face based on direction */
.front {
  /* background: rgba(0, 0, 0, 0.3); */
  transform: translateZ(50px);
  background-image: url(./images/top.png);
  background-size: cover;
  /* height: 100px; */
  /* width: 100px; */

}
.back {
  /* background: rgba(0, 255, 0, 1); */
  color: black;
  background: url(./images/bottom.png);
  transform: rotateY(180deg) translateZ(50px);
  background-size: cover;
}
.right {
  background-image: url(./images/Side.png);
  /* background: rgba(196, 0, 0, 0.7); */
  transform: rotateY(90deg) translateZ(50px);
  background-size: cover;
}
.left {
  background: rgba(0, 0, 196, 0.7);
  transform: rotateY(-90deg) translateZ(50px);
  background-image: url(./images/Side.png);
    /* background-image: url(./images/cube-2.png); */
  background-size: cover;
}
.top {
  background: rgba(196, 196, 0, 0.7);
  transform: rotateX(90deg) translateZ(50px);
  background-image: url(./images/Side.png);
  /* background-image: url(./images/cube-3.png); */
  background-size: cover;
}
.bottom {
  background: rgba(196, 0, 196, 0.7);
  background-image: url(./images/Side.png);
  transform: rotateX(-90deg) translateZ(50px);
  background-size: cover;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 17px;
}

body {
	width: 100%;
	background-color: #EBB250;
}

.beach {
	height: 100vh;
	width: 100%;
	background-image: url("/images/wave-primary.svg"), url("/images/wave.svg");
	background-repeat: no-repeat;
	background-size: 65%, 68%;
	transition: all 3s ease-in-out;
	background-position: 130% 15%, 128% 15%;
	animation: wave 3s cubic-bezier(0.28, 0, 0.41, 1) infinite forwards;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 0;
}

.beach::before,
.beach::after {
	content: "";
	position: absolute;
	background-image: url(https://png.pngtree.com/png-vector/20201105/ourmid/pngtree-crab-clipart-clip-art-style-cartoon-vector-crab-png-image_2395919.jpg);
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	animation: particle-move 5s ease-in-out infinite forwards;
	top: 50%;
	z-index: 1;
}

/* multiple particles */
.beach::before {
	left: 20%;

}

.beach::after {
	background-image: url("./images/dolphin.png");
	background-size: cover;
	left: 80%;
}

#cb1:checked + .beach {
	/*animation: wave_flood 5s cubic-bezier(0.28, 0, 0.41, 1) both;*/
	background-size: 75%, 130%;

}

@keyframes wave {
	0%, 100% {
			background-position-x: 130%;
	}
	60% {
			background-position-x: 140%;

	}
}

@keyframes wave_flood {
	100% {
			background-size: 75%, 130%;
	}
}


@keyframes particle-move {
	0% {
			transform: translate(-50%, -50%) rotate(0deg);
	}
	50% {
			transform: translate(100%, 100%) rotate(360deg);
	}
	100% {
			transform: translate(-50%, -50%) rotate(0deg);
	}
}





