/* perspective-origin values (unique per example) */
.potl {
  perspective-origin: 0% 0%;
  transition-duration: 500ms;
  /* animation-name: spinner;  */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
.potl :hover {
  perspective-origin: center;
}
.potm {
  perspective-origin: top;
}
.potr {
  perspective-origin: top right;
}
.poml {
  perspective-origin: left;
}
.pomm {
  perspective-origin: 50% 50%;
}
.pomr {
  perspective-origin: right;
}
.pobl {
  perspective-origin: bottom left;
}
.pobm {
  perspective-origin: bottom;
}
.pobr {
  perspective-origin: bottom right;
}
.po200200neg {
  perspective-origin: -200% -200%;
}
.po200200pos {
  perspective-origin: 200% 200%;
}
.po200200 {
  transition-duration: 500ms;
  perspective-origin: 50% 50%;
}

.po200200:hover {
  perspective-origin: 200% 100%;
}

body {
  background-color: #eab24f;
}

/* Define the container div, the cube div, and a generic face */
.container {
  width: 100px;
  height: 100px;
  margin: 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10em;
  background-color: #eab24f;
}

.cube {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  perspective: 300px;
  transform-style: preserve-3d;
  transform: rotate3d(0, 0, 0, 0deg);
  transition-duration: 1000ms;
}
.cube:hover {
  perspective-origin: -120% -220%;
}

.face {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border: none;
  background-size: cover;
}

.front {
  transform: translateZ(50px);
  background-image: url(./images/top.png);
}
.back {
  background: url(./images/bottom.png);
  transform: rotateY(180deg) translateZ(50px);
  background-size: cover;
}
.right {
  background-image: url(./images/Side.png);
  transform: rotateY(90deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
  background-image: url(./images/Side.png);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
  background-image: url(./images/Side.png);
}
.bottom {
  background-image: url(./images/Side.png);
  transform: rotateX(-90deg) translateZ(50px);
}

/* Make the layout a little nicer */

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}
/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
